/* 
File Name: a.css
Author: Luciano De Gianni      
Date Modified: Jan.19th, 2018 
Description: a.css contains styles for links.
*/

a {
	
}

/*Styles for index.html*/
a.index_menu {
	text-decoration: none;
}

/*Styles for skills.html*/
a.link {
	color: black;
}

a.link:hover {
	text-decoration: none;
	color: black;
}