/* 
File Name: heading.css
Author: Luciano De Gianni      
Date Modified: Jan.19th, 2018 
Description: heading.css contains styles for the heading tag.
*/

/*General*/
h3.title {
	text-align: center;
}

/*Styles for index.html*/
h1.index_menu {
	color: white;
}