/* 
File Name: mainStyle.css
Author: Luciano De Gianni      
Date Modified: Jan.19th, 2018 
Description: main.css contains the over-arching styles.
*/

body {
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	background-image: url("images/white.png");
}

iframe {
	height: 99vh;
	width: 85vw;
	border: none;
}
