@use '@src/styles/variables.module.scss' as vars;

ul.project-list {
  list-style-type: none;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));

  padding: 0;

  @include vars.desktop {
    gap: 2rem;
  }

  li {
    padding: 1rem;
    p {
      margin: auto;
    }
  }

  a.project-card {
    font-size: 1.7rem;
  }
}

section.icon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  gap: 0.5rem;

  div.container-project {
    position: relative;
    width: 3rem;
    height: 3rem;
  }
}

div.container-technologies {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  span.icon-label {
    margin-top: 4px;
    font-size: 1rem;
    text-align: center;
  }
}

div.icon-technologies {
  position: relative;
  width: 4rem;
  height: 4rem;
}
