@import '../../styles/variables.module.scss';

.container {
  margin: auto;
  padding: 10px;

  background-color: $highlight;

  border-radius: 10px;

  display: flex;
  justify-content: space-around;
}
