@use '@src/styles/components/contact.module.scss' as contact;
@use '@src/styles/variables.module.scss' as vars;
@use '@src/styles/components/project.module.scss' as project;
@use '@src/styles/components/apod.module.scss' as apod;
@use '@src/styles/components/apod-browser.module.scss' as apod-browser;

$font-family:
  -apple-system,
  BlinkMacSystemFont,
  Segoe UI,
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  Fira Sans,
  Droid Sans,
  Helvetica Neue,
  sans-serif;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  background-color: vars.$clouds-medium;
  color: white;
}

h1,
h2,
h3,
p {
  margin: 20px;
}

a {
  color: white;
}

input,
textarea {
  font-family: $font-family;
}

header {
  background-color: vars.$clouds-dark;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;

  .image-container {
    position: relative;
    aspect-ratio: 1/1;
    height: 70%;
  }

  @include vars.responsive-width;
}

main {
  overflow: auto;
  background-color: vars.$clouds-darkest;
  @include vars.responsive-width;
}

footer {
  background-color: vars.$clouds-dark;
  height: 3vh;

  display: flex;
  align-items: center;

  a {
    margin: 0 10px;
  }

  @include vars.responsive-width;
}

button {
  background-color: vars.$clouds-medium;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    color: vars.$clouds-darkest;
    background-color: vars.$clouds-light;
  }

  &:disabled {
    background-color: vars.$clouds-dark;
    color: vars.$clouds-medium;
    cursor: not-allowed;
  }
}
