@use '@styles/variables.module.scss' as vars;

section.apod {
  position: relative;
  display: flex;

  .blurb-url {
    color: vars.$clouds-light;
    margin: 20px;
  }

  @include vars.desktop {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  @include vars.tablet {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  @include vars.mobile {
    flex-direction: column;
  }

  background-color: vars.$clouds-darkest;

  div.image {
    position: relative;
    aspect-ratio: 1/1;

    @include vars.desktop {
      width: 50%;
      margin-left: 10px;
    }

    @include vars.tablet {
      width: 50%;
      margin-left: 10px;
    }
  }

  div.video {
    position: relative;
    aspect-ratio: 1/1;

    @include vars.desktop {
      width: 50%;
      margin-left: 10px;
    }

    @include vars.tablet {
      width: 50%;
      margin-left: 10px;
    }

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  div.blurb {
    @include vars.desktop {
      position: relative;
      width: 50%;
    }

    @include vars.tablet {
      position: relative;
      width: 50%;
    }
  }
}
