@import '../../styles/variables.module.scss';

// Found on blog:
// https://www.perssondennis.com/articles/how-to-make-a-hero-image-in-nextjs#user-content-nextjs-image-component

.heroContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroWrapper {
  position: relative;
  width: 100vw;
  height: 25vh;
  z-index: 1;
}

.imageWrapper {
  z-index: -1;
}

.imageGradient {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2)
  );
}
