$logo-dim: 100px;
$logo-margin: 10px;
$total-logo-width: $logo-dim + $logo-margin;
$num-logos: 11;
$animation-time: 30s;

.list {
  display: flex;
  width: $num-logos * 2 * $total-logo-width;
  animation: slide $animation-time linear infinite;

  .logo {
    margin: $logo-margin;
    display: flex;
    align-items: center;

    width: $logo-dim;
    height: $logo-dim;

    svg {
      width: $logo-dim;
      height: $logo-dim;
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-$num-logos * $total-logo-width);
  }
}
