@use './variables.module.scss' as vars;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;

  header,
  main,
  footer {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  @include vars.desktop {
    background-color: black;
    header,
    main,
    footer,
    .navbar {
      margin-right: 5vw;
      margin-left: 5vw;
    }
  }
}

header {
  position: relative;
  background-color: vars.$navy;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;

  h1,
  h2 {
    padding: 0px;
    margin: 0px;
    color: white;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .image-container {
    position: relative;
    aspect-ratio: 1/1;
    width: auto;
    height: 100%;
  }
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  overflow: hidden;

  background-color: vars.$maroon;
  background-image: linear-gradient(
    180deg,
    vars.$maroon-light,
    vars.$maroon-dark
  );

  ul {
    list-style-type: none;
    margin: 0;
    padding: 1vh 0vw;
    display: flex;
    justify-content: space-around;
    width: 100%;

    a {
      text-decoration: none;
      color: inherit;
    }

    li {
      text-align: center;
      color: white;
      font-size: 1.5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

main {
  overflow: auto;
  background-color: vars.$teal;
}

footer {
  position: relative;
  background-color: vars.$navy;
  padding-top: 1vh;
  padding-bottom: 1vh;

  a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
}
