$clouds-darkest: #041421;
$clouds-dark: #042630;
$clouds-medium: #4c7273;
$clouds-light: #86b9b0;
$clouds: #d0d6d6;

$desktop-page-width: 50%;

$mobile-width: 326px;
$tablet-width: 768px;
$desktop-width: 1024px;

$mobile-page-width: 100%;
$tablet-page-width: 100%;
$desktop-page-width: 60%;

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin responsive-width {
  @include mobile {
    width: $mobile-page-width;
  }
  @include tablet {
    width: $tablet-page-width;
  }

  @include desktop {
    width: $desktop-page-width;
    margin: 0 auto;
  }
}
