$maroon: #bf092f;
$maroon-light: #d7263d;
$maroon-dark: #8c061f;
$navy: #132440;
$blue: #16476a;
$teal: #1c4a4a;

$mobile-width: 326px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin auto-width {
  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 100%;
  }

  @include desktop {
    width: 100%;
  }
}
